@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar{
    height:auto !important;
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #ffffff3b;
}